@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("/images/background.svg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  overflow-x: hidden;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
html {
  scroll-behavior: smooth;
}
/* navbar styling */
a {
  text-decoration: none;
}
.navbar {
  display: flex;
}
header {
  display: -webkit-flex;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 70px;
  color: #d22938;
}
.logo {
  cursor: pointer;
}
.nav-area {
  list-style: none;
  margin-top: 40px;
}
.nav-area li {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
}
.nav-area li a {
  transition: 0.5s;
  color: #fff;
}
.nav-area li a:hover {
  color: #d22938;
}
/* home styling */
.home {
  display: flex;
}
.home-content {
  color: #fff;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 70px;
  margin-left: 120px;
  display: inline-block;
  width: 500px;
}
.name {
  font-size: 50px;
  color: #d22938;
}
.hire {
  font-size: 30px;
  color: #ffff;
  height: 60px;
  width: 150px;
  background-color: #d22938;
  border: 0;
  border-radius: 50px;
  margin-top: 20px;
}
.hire:hover {
  color: #d22938;
  background-color: white;
  border: 5px solid #d22938;
}
.profile-pic {
  margin: 100px;
  height: 300px;
}
