@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: url("/images/background.svg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  font-weight: 600;
  font-size: 16px;
  overflow-x: hidden;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
html {
  scroll-behavior: smooth;
}
/* navbar styling */
a {
  text-decoration: none;
}
.navbar {
  display: flex;
}

header {
  display: -webkit-flex;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  color: #d22938;
}

.logo {
  cursor: pointer;
}
.nav-area {
  list-style: none;
  margin-top: 30px;
}
.nav-area li {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
}
.nav-area li a {
  transition: 0.5s;
  color: #fff;
}
.nav-area li a:hover {
  color: #d22938;
}
.nav-area .navbar-toggle {
  display: none;
}
.visible {
  display: block;
}
 .invisible {
  display: none !important;
 
}
/* media query for hamburger icon */

@media (max-width: 600px) {
  .nav-area {
    flex-wrap: wrap;
    padding: 5px;
    padding-top: 0;
    margin-left: 60px;
  }

  header {
    display: block;
  }
  .nav-area .navbar-toggle {
    display: block;
    justify-content: center;
  }
  .nav-area li {
    display: block;
    margin-top: 30px;
  }
  .nav-area .navbar-links {
    display: none;
    width: 100%;
  }
   
}
/* home styling */
.home {
  display: flex;
  background-image: url("/images/background.svg");
}
.home-content {
  color: #fff;
  line-height: 30px;
  font-weight: 600;
  margin: 40px;
  margin-left: 120px;
  display: inline-block;
  width: 500px;
}
.name {
  font-size: 50px;
  color: #d22938;
}
.resume {
  font-size: 30px;
  color: #ffff;
  height: 60px;
  width: 200px;
  background-color: #d22938;
  border: 0;
  border-radius: 30px;
  margin-top: 20px;
}
.resume:hover {
  color: #d22938;
  background-color: white;
  border: 3px solid #d22938;
}
.profile-pic {
  margin: 0px;
  height: 500px;
}
hr {
  height: 3px;
  background: #fff;
}
/* skills styling */
.skills-div {
  display: flex;
  justify-content: center;
  margin: 50px 0 50px 0;
  background: white;
}
.skills {
  color: #d22938;
  padding: 30px;
}
.skills-heading {
  text-align: center;
  text-decoration: overline underline;
  text-decoration-color: black;
  text-underline-offset: 10px;
  padding-bottom: 50px;
}

.skills-bar {
  width: 600px;
  background: #fff;
  border-radius: 10px;
  padding: 25px 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.skills-bar .bar {
  margin: 20px 0;
}
.skills-bar .bar:first-child {
  margin-top: 0px;
}
.skills-bar .bar .info {
  margin-bottom: 5px;
}
.skills-bar .bar .info span {
  font-size: 17px;
  font-weight: 500;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}

.skills-bar .bar .progress-line {
  position: relative;
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05),
    0px 1px rgba(255, 255, 255, 0.8);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
  height: 100%;
  width: 80%;
  background: #6665ee;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.progress-line.sk-1 span {
  width: 90%;
}
.progress-line.sk-2 span {
  width: 80%;
}
.progress-line.sk-3 span {
  width: 65%;
}
.progress-line.sk-4 span {
  width: 75%;
}
.progress-line.sk-5 span {
  width: 85%;
}
.progress-line.sk-6 span {
  width: 80%;
}
.bar .progress-line span::before {
  position: absolute;
  content: "";
  right: 0;
  top: -10px;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0;
  border-right-width: 0;
  border-top-color: #000;
  opacity: 0;
  animation: showText 0.5s 1.5s linear forwards;
}
.bar .progress-line span::after {
  position: absolute;
  right: 0;
  top: -28px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  background: #000;
  padding: 1px 8px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100% {
    opacity: 1;
  }
}
.progress-line.sk-1 span::after {
  content: "90%";
}
.progress-line.sk-2 span::after {
  content: "80%";
}
.progress-line.sk-3 span::after {
  content: "65%";
}
.progress-line.sk-4 span::after {
  content: "75%";
}
.progress-line.sk-5 span::after {
  content: "85%";
}
.progress-line.sk-6 span::after {
  content: "80%";
}

/* projects-styling */
.projects {
  background: rgba(31, 15, 15, 0.685);
  color: #d22938;
  padding: 30px;
}
.projects-heading {
  text-align: center;
  text-decoration: overline underline;
  text-decoration-color: white;
  text-underline-offset: 10px;
}
.container-project {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
}
.card {
  background-color: #fff;
  width: 400px;
  height: 400px;
  margin: 50px;
  border-radius: 15px;
}
.card-image {
  height: 200px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}
.card-1 {
  background-image: url("/images/3DParts.jpg");
}
.card-2 {
  background-image: url("/images/ProductDesign.jpg");
}
.card-3 {
  background-image: url("/images/Analysis.gif");
}
.card h2 {
  padding: 10px;
}
.card p {
  padding: 10px;
  color: black;
}
.card a {
  background-color: black;
  color: white;
  padding: 15px 20px;
  display: block;
  text-align: center;
  margin: 20px 50px;
}
.card:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.5s ease;
}
.youtube-icon {
  color: #d22938;
}

/* contacts-styling  */
.contact {
  color: black;
  position: relative;
  min-height: 100vh;
  padding: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("/images/background.svg");
  background-size: cover;
}
.contact .content {
  max-width: 800px;
  text-align: center;
}
.contact .content h2 {
  font-size: 36px;
  font-weight: 500;
  color: #d22938;
  text-decoration: underline overline;
  text-decoration-color: white;
  margin: 50px;
  text-underline-offset: 10px;
}

.container-contact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.container-contact .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container-contact .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.container-contact .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #fff;
  color: #d22938;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container-contact .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}
.container-contact .contactInfo .box .text h3 {
  color: #d22938;
  font-weight: 500;
}
.contactForm {
  width: 40%;
  padding: 40px;
  background: #fff;
}
.contactForm h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: #d22938;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

/* footer styling */
.footer {
  margin: 50px 0 10px 0;
  color: white;

  text-align: center;
  height: 20px;
}
/* media-queries */

/* contact media queries */
@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }
  .container-contact {
    flex-direction: column;
  }
  .container-contact .contactInfo,
  .contactForm {
    margin-bottom: 40px;
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  /* home responsive */
  .home-content {
    line-height: 20px;
    font-weight: 400;
    margin: 20px;
    display: inline-block;
    width: 150px;
  }
  .name {
    font-size: 20px;
  }
  .resume {
    font-size: 20px;
    color: #ffff;
    height: 40px;
    width: 120px;
    border: 0;
    border-radius: 20px;
    margin-top: 20px;
  }
  .resume:hover {
    color: #d22938;
    background-color: white;
    border: 3px solid #d22938;
  }
  .profile-pic {
    margin: 0px;
    margin-top: 80px;
    height: 250px;
    width: 200px;
  }
  /* contact me responsive */
  .contact .content h2 {
    font-size: 20px;
  }
  .container-contact .contactInfo .box .text {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 200;
  }
  .container-contact .contactInfo .box .text h3 {
    font-weight: 300;
  }
  .container-contact .contactInfo .box {
    padding: 10px 0;
  }
  .container-contact .contactInfo .box .icon {
    min-width: 60px;
    height: 50px;
    font-size: 20px;
  }
  .responsive {
    font-size: 12px;
  }
}
